@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-Black.woff2") format("woff2"), url("../font/gilroy/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-BlackItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../font/gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-BoldItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-ExtraBold.woff2") format("woff2"), url("../font/gilroy/Gilroy-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-ExtraBoldItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-Heavy.woff2") format("woff2"), url("../font/gilroy/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-HeavyItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-Light.woff2") format("woff2"), url("../font/gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-LightItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../font/gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-MediumItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../font/gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("../font/gilroy/Gilroy-RegularItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("../font/gilroy/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-SemiBoldItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-Thin.woff2") format("woff2"), url("../font/gilroy/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-ThinItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-UltraLight.woff2") format("woff2"), url("../font/gilroy/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../font/gilroy/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../font/gilroy/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

body {
  font-family: "Gilroy";
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}
.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 59px;
}
.nav-menu-list li {
  color: #1f1f1f;
  border: 1px solid red;
}
.nav-button button {
  padding: 16px 32px;
  border: 1px solid #508ff4;
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  color: #508ff4;
  font-weight: 600;
}
.nav #check {
  display: none;
}
.nav .checkbtn {
  font-size: 50px;
  color: #1f1f1f;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.hero-background {
  height: 524px;
  text-align: center;
  background-color: #EFF4FF;
  border-radius: 32px;
  position: relative;
}
.hero-title {
  color: #508ff4;
  font-weight: 600;
}
.hero-text {
  max-width: 46%;
  margin: auto;
  padding-top: 4rem;
}
.hero-description {
  font-size: 43px;
  padding: 1rem;
  font-weight: 600;
}
.hero-explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  line-height: 25px;
}
.hero-devices {
  max-width: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
}
.hero-banner {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .nav {
    padding: 0 24px;
  }
  .hero-background {
    height: 500px;
    padding: 0 24px;
  }
  .nav .checkbtn {
    display: block;
    margin-right: 0;
  }
  .nav-button button {
    display: none;
  }
  .nav-menu-list li {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    padding: 0 24px;
  }
  .hero-text {
    max-width: 100%;
  }
  .hero-description {
    font-size: 28px;
  }
  .hero-explanation {
    font-size: 14px;
  }
  .hero-devices {
    width: 80%;
  }
  .hero-background {
    height: 450px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-background {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */